set_io PIN_1 34
set_io PIN_14 20
set_io PIN_15 19

# LED
set_io LED[3] 71
set_io LED[2] 67
set_io LED[1] 68
set_io LED[0] 70

# 100MHz clock
set_io CLK_100 129 

set_io SWITCHES[0] 37
set_io SWITCHES[1] 38
set_io SWITCHES[2] 39
set_io SWITCHES[3] 41
set_io SWITCHES[4] 104 
set_io SWITCHES[5] 105
set_io SWITCHES[6] 101
set_io SWITCHES[7] 102

set_io quadA[0] 113
set_io quadB[0] 144
set_io quadA[1] 95
set_io quadB[1] 93



